{% extends '_layout.html' %}

{% block title %}Edit User{% endblock %}

{% block content %}
<h1>Edit User</h1>
<p>Update user inforomation as necessary:</p>

  <form id="formUserPUT" action="" method="post">
  	<p><input type="hidden" value="{{ user.id }}" name="id"></p>
    <p><input type="text" placeholder="Username" name="username" value="{{ user.username }}"></p>
    <p><input type="password" placeholder="Password" name="password" value="{{ user.password }}"></p>
    <p><input type="text" placeholder="Email" name="email" value="{{ user.email }}"></p>
    <p><input type="text" placeholder="Birthday" name="birthday" value="{{ user.birthday }}"></p>
    <p><input type="text" placeholder="Phone" name="phone" value="{{ user.phone }}"></p>
    <p><input type="text" placeholder="Firstname" name="firstname" value="{{ user.firstname }}"></p>
    <p><input type="text" placeholder="Lastname" name="lastname" value="{{ user.lastname }}"></p>
    <p><input type="submit" value="Update"></p>
  </form>

{% endblock %}