{% extends '_layout.html' %}

{% block title %}Users{% endblock %}

{% block content %}
  <h1>User List</h1>
  <p>You have <strong>{{ users.length }}</strong> Users</p>
  <p><a href="/users/new">Create a User</a></p>
  <ul id="users">
    {% for user in users %}
      <li>
          <strong>{{ user.username }}</strong> ||
          <a href="/users/{{ user.username }}">View Details</a> ||
          <a href="/users/edit/{{ user.username }}">Edit</a> ||
          <a href="/users/delete/{{ user.username }}">Delete</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}