{% extends '_layout.html' %}

{% block title %}New User{% endblock %}

{% block content %}
  <h1>Add User</h1>
  <p>Create a new user node</p>

  {% if error %}
  <strong class="error">{{ error }}</strong>
  {% endif %}

  <form action="/api/users" method="post">
    <p><input type="text" placeholder="Username" name="username" value="elliott87"></p>
    <p><input type="password" placeholder="Password" name="password" value="elliott_password"></p>
    <p><input type="text" placeholder="Email" name="email" value="elliott.richerson@gmail.com"></p>
    <p><input type="text" placeholder="Birthday" name="birthday"></p>
    <p><input type="text" placeholder="Phone" name="phone"></p>
    <p><input type="text" placeholder="Firstname" name="firstname" value="Elliott"></p>
    <p><input type="text" placeholder="Lastname" name="lastname" value="Richerson"></p>
    <p><input type="submit" value="Create"></p>
  </form>
{% endblock %}